<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.beaconmanager">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <uses-permission android:name="android.permission.BLUETOOTH"
    android:maxSdkVersion="30" />

  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
    android:maxSdkVersion="30" />

<!--  <uses-permission android:name="android.permission.BLUETOOTH_SCAN"-->
<!--    tools:targetApi="s" />-->
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:targetApi="s"/>
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <service android:name="com.minew.beaconset.ConnectService"/>

    <receiver android:name="com.minew.beaconset.BluetoothChangedReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
